.detailed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingre-instruct {
    width: 1600px;

    background-color: aqua;
    display: flex;
}

.instruction {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    background-color: bisque;
    padding-top: 50px;
    padding-bottom: 50px;
    
}