.wholesome {
    height: 86vh;
    width: 60vh;
    border-radius: 5%;
    position: absolute;
}

.main-container {
    position: absolute;
    display: flex;
    height: 86vh;
    width: 120vh;
    
}

.master {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/food.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

.title {
    z-index: 100;
    position: absolute;
    font-size: 10vh;
    margin-left: 52vh;
    margin-top: 10vh;
    letter-spacing: .5vh;
}

.blurb {
    z-index: 100;
    position: absolute;
    margin-left: 62vh;
    margin-top: 30vh;
    font-size: 2vh;
}

.button {
    z-index: 100;
    position: absolute;
    margin-left: 62vh;
    margin-top: 60vh;
    font-size: 2vh;
}

.button1 {
    z-index: 100;
    position: absolute;
    margin-left: 75vh;
    margin-top: 60vh;
    font-size: 2vh;
}