@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

.master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(247, 225, 225);
    
}

.main-container {
    height: 75vh;
    width: 185vh;
    display: flex;
    background-color: rgb(252, 188, 188);
}

.divider {
    height: 75vh;
    width: 92.5vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.wholesome {
    height: 100%;
}

.title {
    font-family: 'Syne', sans-serif;
    font-size: 5vh;
    position: absolute;
    margin-bottom: 85vh;
}

.blurb {
    text-align: center; 
    font-family: 'Syne', sans-serif;
    font-size: 3vh;
    padding-bottom: 3vh;
}

.button {
    font-family: 'Syne', sans-serif;
    font-size: 1.4vh;
    width: 10vh;
    height: 4vh;
    background-color: rgb(255, 88, 88);
}
